body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  background-color: white;
}

.bn-container .bn-editor {
  padding: 0;
  transition: 0.19s;
}

/* Base theme */

.bn-container[data-color-scheme] {
  --bn-colors-editor-text: hsl(222.2, 84%, 4.9%);
  --bn-colors-editor-background: hsla(210, 40%, 98%, 0);
  --bn-colors-menu-text: hsl(222.2, 84%, 4.9%);
  --bn-colors-menu-background: hsl(210, 40%, 98%);
  --bn-colors-tooltip-text: hsl(222.2, 84%, 4.9%);
  --bn-colors-tooltip-background: hsl(210, 40%, 85.1%);
  --bn-colors-hovered-text: hsl(222.2, 84%, 4.9%);
  --bn-colors-hovered-background: hsl(210, 40%, 85.1%);
  --bn-colors-selected-text: hsl(222.2, 84%, 4.9%);
  --bn-colors-selected-background: hsl(210, 40%, 85.1%);
  --bn-colors-disabled-text: hsl(0, 0%, 50%);
  --bn-colors-disabled-background: hsl(210, 40%, 85.1%);
  --bn-colors-shadow: hsl(0, 0%, 50%);
  --bn-colors-border: hsl(0, 0%, 50%);
  --bn-colors-side-menu: #bababa;
  --bn-color-highlight-colors: #ffffff;
  --bn-border-radius: 4px;
  --bn-font-family: inherit;
}

/* Changes for dark mode */
.bn-container[data-color-scheme="dark"] {
  --bn-colors-editor-text: hsl(210, 40%, 80%);
  --bn-colors-editor-background: hsla(223, 84%, 5%, 0);
  --bn-colors-menu-text: hsl(210, 40%, 80%);
  --bn-colors-menu-background: hsl(222.2, 84%, 4.9%);
  --bn-colors-tooltip-text: hsl(210, 40%, 80%);
  --bn-colors-tooltip-background: hsl(217.2, 32.6%, 17.5%);
  --bn-colors-hovered-text: hsl(210, 40%, 80%);
  --bn-colors-hovered-background: hsl(217.2, 32.6%, 17.5%);
  --bn-colors-selected-text: hsl(210, 40%, 80%);
  --bn-colors-selected-background: hsl(217.2, 32.6%, 17.5%);
  --bn-colors-disabled-text: hsl(0, 0%, 50%);
  --bn-colors-disabled-background: hsl(217.2, 32.6%, 17.5%);
  --bn-colors-shadow: hsl(223, 82%, 11%);
  --bn-colors-border: hsl(0, 0%, 15%);
  --bn-colors-side-menu: #bababa;
  --bn-color-highlight-colors: #ffffff;
  --bn-border-radius: 4px;
  --bn-font-family: inherit;
}
